@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lora", serif;
  color: black;
}

@keyframes flotar {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translate(0);
  }
}
header .bgNav {
  background-color: rgb(255, 55, 188);
}
header .avianoLogo {
  width: 300px;
  height: 150px;
}
header .nav-link {
  font-size: 1.3rem;
}
header .nav-link:hover {
  color: #bbb;
}
header .nav-link:hover i {
  animation: flotar 1s ease-in-out 1;
}

@media screen and (max-width: 768px) {
  header .avianoLogo {
    width: 250px;
    height: 150px;
  }
}
@keyframes tituloIndex {
  0% {
    text-shadow: 7px 4px 5px rgb(255, 71, 194);
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 7px 4px 5px rgb(255, 71, 194);
  }
}
.tituloPrincipalcontainer .tituloPrincipalindex {
  animation: tituloIndex 1s ease-in-out 1;
  text-shadow: 7px 4px 5px rgb(255, 71, 194);
  color: rgb(255, 0, 191);
}
.tituloPrincipalcontainer .tituloPrincipalhr {
  width: 200px;
}

.offerContainer .offerTitle .avianoText {
  color: rgb(255, 71, 194);
}
.offerContainer .prendas {
  width: 100%;
}
.offerContainer .prendas .card {
  border: 3px solid rgb(255, 71, 194);
}
.offerContainer .prendas .card img {
  object-fit: cover;
}
.offerContainer .prendas .card .card-body .precioViejo {
  color: grey;
  font-size: 1rem;
}
.offerContainer .prendas .card .card-body .precioOferta {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .offerContainer .offerTitle h2 {
    font-size: 1.2rem;
  }
}
.colaboracionContainer {
  background-color: rgb(255, 55, 188);
}
.colaboracionContainer .colaboracion {
  height: 90vh;
}
.colaboracionContainer .colaboracion .videoContainer {
  height: 100%;
}
.colaboracionContainer .colaboracion .videoContainer iframe {
  height: 100%;
  width: 100%;
}
.colaboracionContainer .colaboracion .infoVideo {
  color: rgb(250, 250, 250);
}
.colaboracionContainer .colaboracion .infoVideo h2 {
  font-size: 3rem;
}
.colaboracionContainer .colaboracion .infoVideo p {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .colaboracionContainer .colaboracion {
    height: 100vh;
  }
  .colaboracionContainer .colaboracion .videoContainer {
    height: 72%;
  }
}
.linksContainer .links .linkCatalogo {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.361)), url("../assets/img/fondo1_links_index.jpeg");
  height: 350px;
  width: 700px;
  margin: 7px;
  color: rgb(250, 250, 250);
}
.linksContainer .links .linkCatalogo a {
  border: 3px solid pink;
  background-color: rgb(255, 55, 188);
  width: 100px;
  height: 50px;
  color: rgb(250, 250, 250);
  text-decoration: none;
}
.linksContainer .links .linkCatalogo a:hover {
  background-color: rgb(251, 105, 202);
  transition: all 1s ease-out;
}
.linksContainer .links .linkContacto {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.361)), url("../assets/img/fondo2_links_index.jpeg");
  color: rgb(250, 250, 250);
  height: 350px;
  width: 700px;
}
.linksContainer .links .linkContacto a {
  border: 3px solid pink;
  background-color: rgb(255, 55, 188);
  width: 100px;
  height: 50px;
  color: rgb(250, 250, 250);
  text-decoration: none;
}
.linksContainer .links .linkContacto a:hover {
  background-color: rgb(251, 105, 202);
  transition: all 1s ease-out;
}

.recomendacionContainer .recomendacionTitle h3 {
  color: rgb(255, 71, 194);
}
.recomendacionContainer .recomendacionTitle hr {
  width: 200px;
}
.recomendacionContainer .card {
  height: 400px;
}
.recomendacionContainer .card .card-title {
  color: rgb(255, 71, 194);
}

@media screen and (max-width: 768px) {
  .recomendacionContainer .card {
    height: 450px;
  }
  .recomendacionContainer .card .card-body .card-title {
    font-size: 1.2rem;
  }
}
.nosContainer .nosH1 {
  color: rgb(255, 71, 194);
}
.nosContainer .nosTxt .nosContent .spanNosotros {
  color: rgb(255, 71, 194);
}
.nosContainer .nosTxt .nosContent .nosContentparrafo {
  font-family: "Roboto", sans-serif;
  text-align: justify;
}
.nosContainer .nosTxt .containerLocalimg {
  height: 100%;
}
.nosContainer .nosTxt .containerLocalimg .localImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .nosContainer .nosContent {
    width: initial;
  }
  .nosContainer .nosContent .nosContentsubtitle {
    font-size: 1.2rem;
  }
  .nosContainer .nosContent .nosContentparrafo {
    font-size: 1rem;
  }
}
.ubiContainer .nosH2 {
  color: rgb(255, 71, 194);
}
.ubiContainer .mapContainer {
  width: 100%;
  height: 50vh;
}
.ubiContainer .mapContainer iframe {
  width: 100%;
  height: 100%;
}

@keyframes rotar {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0);
  }
}
.catalogoContainer .containerTitle h1 {
  color: rgb(255, 71, 194);
}
.catalogoContainer .catalogoImgcontainer .prendasCatalogo .precioViejo {
  color: grey;
  font-size: 1rem;
}
.catalogoContainer .catalogoImgcontainer .prendasCatalogo .precioOferta {
  font-size: 1.2rem;
}
.catalogoContainer .catalogoImgcontainer .prendasCatalogo .btn-primary {
  background-color: rgb(255, 55, 188);
  border: rgb(255, 55, 188);
}
.catalogoContainer .catalogoImgcontainer .prendasCatalogo .buttonColor {
  background-color: rgb(255, 55, 188);
  border-color: rgb(255, 55, 188);
}
.catalogoContainer .catalogoImgcontainer .prendasCatalogo .buttonColor:active {
  background-color: rgb(253, 132, 247);
}
.catalogoContainer .catalogoImgcontainer .prendasCatalogo .buttonColor:hover {
  animation: rotar 0.5s ease-in-out 1;
}
.catalogoContainer .catalogoImgcontainer .prendasCatalogo .imgContainer {
  width: 350px;
  height: 350px;
  overflow: hidden;
}
.catalogoContainer .catalogoImgcontainer .prendasCatalogo .imgContainer .catalogoImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 1s ease-out;
}
.catalogoContainer .catalogoImgcontainer .prendasCatalogo .imgContainer .catalogoImg:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .catalogoImgcontainer .catalogoImg {
    width: 290px;
    height: 290px;
    object-fit: cover;
  }
}
.preguntasContainer .questionTitle {
  color: rgb(255, 71, 194);
}
.preguntasContainer .questionAcordeon .acordeonColor {
  background-color: rgb(255, 97, 202);
  color: rgb(250, 250, 250);
}
.preguntasContainer .questionAcordeon .acordeonColor:focus {
  background-color: rgb(255, 71, 194);
}
.preguntasContainer .dudasContent h2 {
  color: rgb(255, 71, 194);
}
.preguntasContainer .dudasContent a {
  border: 3px solid pink;
  background-color: rgb(255, 55, 188);
  width: 100px;
  height: 50px;
  color: black;
  text-decoration: none;
}
.preguntasContainer .dudasContent a:hover {
  background-color: rgb(251, 105, 202);
  transition: all 1s ease-out;
}

.contactContainer .contactTitle h1 {
  color: rgb(255, 71, 194);
}
.contactContainer .form {
  background-color: rgb(255, 97, 202);
  height: 90vh;
}
.contactContainer .form .inputContainer .input {
  background: transparent;
  width: 80%;
  border: none;
  border-bottom: 2px solid rgb(255, 194, 245);
  height: 30px;
  color: rgb(250, 250, 250);
  font-size: 1rem;
}
.contactContainer .form .inputContainer .input::placeholder {
  color: rgb(250, 250, 250);
}
.contactContainer .form .inputContainer .input:focus {
  outline: none;
  background: linear-gradient(to bottom, transparent, rgb(255, 76, 195));
  border-bottom: 2px solid rgb(243, 132, 225);
}
.contactContainer .form .inputContainer .textArea {
  width: 80%;
  resize: none;
  background: transparent;
  height: 200px;
  border: none;
  border-bottom: 2px solid rgb(255, 194, 245);
  color: rgb(250, 250, 250);
}
.contactContainer .form .inputContainer .textArea::placeholder {
  color: rgb(250, 250, 250);
}
.contactContainer .form .inputContainer .textArea:focus {
  outline: none;
  background: linear-gradient(to bottom, transparent, rgb(255, 76, 195));
  border-bottom: 2px solid rgb(243, 132, 225);
}
.contactContainer .form .inputContainer .input:nth-child(10) {
  color: rgb(250, 250, 250);
  border: 2px solid rgb(255, 194, 245);
  background-color: rgb(255, 84, 246);
  width: 65%;
  transition: all 1s ease-out;
}
.contactContainer .form .inputContainer .input:nth-child(10):focus {
  background-color: rgb(253, 132, 247);
}
.contactContainer .form .imgInputcontainer {
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  height: 600px;
  width: 600px;
}
.contactContainer .form .imgInputcontainer img {
  width: 600px;
  height: 600px;
}

.errorContainer .errorTitle .error404 {
  color: rgb(255, 55, 188);
}
.errorContainer .errorImg {
  width: 300px;
  border: 3px solid pink;
  border-radius: 7px;
}
.errorContainer .errorBoton {
  border: 3px solid pink;
  background-color: rgb(255, 55, 188);
  width: 150px;
  height: 50px;
  color: black;
  text-decoration: none;
}
.errorContainer .errorBoton:hover {
  background-color: rgb(251, 105, 202);
  transition: all 1s ease-out;
}

@keyframes flotar {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translate(0);
  }
}
footer {
  background-color: rgb(255, 55, 188);
}
footer .footerLogo .footerImg {
  width: 300px;
  height: 150px;
}
footer .footerLogo p {
  color: rgb(250, 250, 250);
}
footer .footerLinksprincipal .footerContenido .contenidoTitle {
  color: rgb(247, 182, 225);
}
footer .footerLinksprincipal .footerContenido a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}
footer .footerLinksprincipal .footerContenido a:hover {
  color: #bbb;
}
footer .footerLinkssecundario .ayudaTitle {
  color: rgb(247, 182, 225);
}
footer .footerLinkssecundario a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}
footer .footerLinkssecundario a:hover {
  color: #bbb;
}
footer .footerRedes .redesTitle {
  color: rgb(247, 182, 225);
}
footer .footerRedes .footerIcons a {
  text-decoration: none;
}
footer .footerRedes .footerIcons i {
  font-size: 2rem;
  color: rgb(250, 250, 250);
}
footer .footerRedes .footerIcons i:hover {
  color: #bbb;
  animation: flotar 1s ease-in-out 1;
}
footer .textoCopyright {
  color: rgb(250, 250, 250);
}

@media screen and (max-width: 768px) {
  footer .footerLinksprincipal {
    margin: 15px 0;
  }
  footer .footerLinkssecundario {
    margin: 15px 0;
  }
  footer .footerRedes {
    margin: 15px 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
