@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lora", serif;
  color: black;
}
body header .bgNav {
  background-color: rgb(255, 55, 188);
}
body header .avianoLogo {
  width: 350px;
  height: 150px;
}
body header .nav-link {
  font-size: 1.3rem;
}
body header .nav-link:hover {
  color: #bbb;
}
@media screen and (max-width: 768px) {
  body header .avianoLogo {
    width: 250px;
    height: 150px;
  }
}
body .tituloPrincipalindex {
  text-shadow: 7px 4px 5px rgb(255, 71, 194);
  color: rgb(255, 0, 191);
}
body .offerContainer .offerTitle .avianoText {
  color: rgb(255, 71, 194);
}
body .offerContainer .offerImg {
  width: 350px;
  height: 350px;
}
@media screen and (max-width: 768px) {
  body .offerContainer .offerTitle h2 {
    font-size: 1.2rem;
  }
}
body .colaboracionContainer {
  background-color: rgb(255, 55, 188);
}
body .colaboracionContainer .colaboracion {
  height: 100vh;
}
body .colaboracionContainer .colaboracion .videoContainer {
  height: 100%;
}
body .colaboracionContainer .colaboracion .videoContainer iframe {
  height: 100%;
  width: 100%;
}
body .colaboracionContainer .colaboracion .infoVideo {
  color: rgb(250, 250, 250);
}
body .colaboracionContainer .colaboracion .infoVideo h2 {
  font-size: 3rem;
}
body .colaboracionContainer .colaboracion .infoVideo p {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  body .colaboracionContainer .colaboracion {
    height: 100vh;
  }
  body .colaboracionContainer .colaboracion .videoContainer {
    height: 72%;
  }
}
body .linksContainer .linkCatalogo {
  height: 350px;
  background-color: rgb(253, 202, 210);
  border: 5px solid rgb(253, 138, 199);
  width: 700px;
  margin: 0 auto;
}
body .linksContainer .linkCatalogo a {
  border: 3px solid pink;
  background-color: rgb(255, 55, 188);
  width: 100px;
  height: 50px;
  color: black;
  text-decoration: none;
}
body .linksContainer .linkCatalogo a:hover {
  background-color: rgb(251, 105, 202);
}
body .linksContainer .linkContacto {
  height: 350px;
  background-color: rgb(253, 202, 210);
  border: 5px solid rgb(253, 138, 199);
  width: 700px;
}
body .linksContainer .linkContacto a {
  border: 3px solid pink;
  background-color: rgb(255, 55, 188);
  width: 100px;
  height: 50px;
  color: black;
  text-decoration: none;
}
body .linksContainer .linkContacto a:hover {
  background-color: rgb(251, 105, 202);
}
body .recomendacionContainer .recomendacionTitle h3 {
  color: rgb(255, 71, 194);
}
body .recomendacionContainer .recomendacionTitle hr {
  width: 200px;
}
body .recomendacionContainer .card .card-title {
  color: rgb(255, 71, 194);
}
body footer {
  background-color: rgb(255, 55, 188);
  color: rgb(61, 61, 61);
}
body footer .footerParrafo {
  font-size: 1.2rem;
}
body footer .footerLogo img {
  width: 350px;
  height: 150px;
}
body footer .footerIcons a {
  font-size: 2rem;
  color: white;
}
body footer .footerIcons a:hover {
  color: #bbb;
}
@media screen and (max-width: 768px) {
  body footer .footerParrafo {
    font-size: 1rem;
  }
}
body .nosContainer .nosH1 {
  color: rgb(255, 71, 194);
}
body .ubiContainer .nosH2 {
  color: rgb(255, 71, 194);
}
body .ubiContainer .negocioContainer {
  height: 70vh;
}
body .ubiContainer .negocioContainer .mapContainer iframe {
  width: 100%;
  height: 100%;
}
body .ubiContainer .negocioContainer .containerLocalimg {
  height: 100%;
}
body .ubiContainer .negocioContainer .containerLocalimg .localImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  body .ubiContainer .negocioContainer {
    height: initial;
  }
  body .ubiContainer .negocioContainer .mapContainer {
    height: 50%;
  }
  body .ubiContainer .negocioContainer .mapContainer iframe {
    height: 400px;
  }
  body .ubiContainer .negocioContainer .containerLocalimg {
    width: 100%;
  }
  body .ubiContainer .negocioContainer .containerLocalimg .localImg {
    margin: initial;
    width: 50%;
    height: 300px;
  }
}
body .catalogoContainer .containerTitle h1 {
  color: rgb(255, 71, 194);
}
body .catalogoImgcontainer .prendasCatalogo .btn-primary {
  background-color: rgb(255, 55, 188);
  border: rgb(255, 55, 188);
}
body .catalogoImgcontainer .prendasCatalogo .buttonColor {
  background-color: rgb(255, 55, 188);
  border-color: rgb(255, 55, 188);
}
body .catalogoImgcontainer .prendasCatalogo .buttonColor:active {
  background-color: rgb(253, 132, 247);
}
body .catalogoImgcontainer .catalogoImg {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  body .catalogoImgcontainer .catalogoImg {
    width: 290px;
    height: 290px;
    object-fit: cover;
  }
}
body .preguntasContainer .questionTitle {
  color: rgb(255, 71, 194);
}
body .preguntasContainer .questionAcordeon .acordeonColor {
  background-color: rgb(255, 55, 188);
  color: white;
}
body .preguntasContainer .dudasContent h2 {
  color: rgb(255, 71, 194);
}
body .preguntasContainer .dudasContent a {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 55, 188);
  border: 2px solid black;
  width: 100px;
  height: 50px;
}
body .preguntasContainer .dudasContent a:hover {
  background-color: rgb(251, 105, 202);
}
body .contactContainer .contactTitle h1 {
  color: rgb(255, 71, 194);
}
body .contactContainer .form {
  background-color: rgb(255, 55, 188);
  height: 90vh;
}
body .contactContainer .form .inputContainer .input {
  background: transparent;
  width: 80%;
  border: none;
  border-bottom: 2px solid rgb(255, 194, 245);
  height: 30px;
  color: white;
  font-size: 1;
}
body .contactContainer .form .inputContainer .input::placeholder {
  color: white;
}
body .contactContainer .form .inputContainer .textArea {
  width: 80%;
  resize: none;
  background: transparent;
  height: 200px;
  border: none;
  border-bottom: 2px solid rgb(255, 194, 245);
  color: white;
}
body .contactContainer .form .inputContainer .textArea::placeholder {
  color: white;
}
body .contactContainer .form .inputContainer .input:nth-child(5) {
  color: white;
  border: 2px solid rgb(255, 194, 245);
  background-color: rgb(255, 84, 246);
  width: 65%;
}
body .contactContainer .form .inputContainer .input:nth-child(5):focus {
  background-color: rgb(253, 132, 247);
}
body .contactContainer .form .imgInputcontainer {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 600px;
}
body .contactContainer .form .imgInputcontainer img {
  width: 600px;
  height: 600px;
}

/*# sourceMappingURL=estilos.css.map */
