@keyframes flotar {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translate(0);
    }
}

footer{
    background-color: $color-primario;
    .footerLogo{
        .footerImg{
            width: map-get($tamañopx, t-300px);
            height: map-get($tamañopx, t-150px);
        }
        p{
            color: $color-blanco;
        }
    }
    .footerLinksprincipal{
        .footerContenido{
            .contenidoTitle{
                color: $color-titulo-footer;
            }
            a{
                text-decoration: $type-none;
                color: $color-blanco;
                &:hover{
                    color: $color-hover-principal;
                }
            }
        }
    }
    .footerLinkssecundario{
        .ayudaTitle{
            color: $color-titulo-footer;
        }
        a{
            text-decoration: $type-none;
            color: $color-blanco;
            &:hover{
                color: $color-hover-principal;
            }
        }
    }
    .footerRedes{
        .redesTitle{
            color: $color-titulo-footer;
        }
        .footerIcons{
            a{
                text-decoration: $type-none;
            }
            i{
                font-size: $fs-mediano;
                color: $color-blanco;
                &:hover{
                    color: $color-hover-principal;
                    animation: $transition-flotar;
                }
            }
        }
    }
    .textoCopyright{
        color: $color-blanco;
    }
}
@media screen and (max-width:768px){
    footer{
        .footerLinksprincipal{
            margin: 15px 0 ;
        }
        .footerLinkssecundario{
            margin: 15px 0;
        }
        .footerRedes{
            margin: 15px 0;
        }
    }
}