header{
    .bgNav{
       background-color: $color-primario;
    }
    .avianoLogo{
        width: map-get($tamañopx, t-350px );
        height:map-get($tamañopx, t-150px );
    }
    .nav-link{
        font-size: $fs-nav;
            &:hover{
                color:$color-hover-principal;
            }
    }
}
@media screen and (max-width:768px){
    header{
        .avianoLogo{
            width: map-get($tamañopx, t-250px );
            height: map-get($tamañopx, t-150px );
        }
    }
}