@keyframes flotar {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translate(0);
    }
}


header{
    .bgNav{
       background-color: $color-primario;
    }
    .avianoLogo{
        width: map-get($tamañopx, t-350px );
        height:map-get($tamañopx, t-150px );
    }
    .nav-link{
        font-size: $fs-nav;
        &:hover{
            color:$color-hover-principal;
        }
        &:hover i {
            animation: flotar 1s ease-in-out 1;
        }
    }
}
@media screen and (max-width:768px){
    header{
        .avianoLogo{
            width: map-get($tamañopx, t-250px );
            height: map-get($tamañopx, t-150px );
        }
    }
}