@keyframes rotar {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(0);
    }
}

.catalogoContainer{
    .containerTitle h1{
        color: $color-secundario;
    }
    .catalogoImgcontainer{
        .prendasCatalogo{
            .precioViejo{
                color: $color-gris;
                font-size: $fs-1;
            }
            .precioOferta{
                font-size: $fs-chico;
            }
            .btn-primary{
                background-color:$color-primario;
                border: $color-primario;
            }
            .buttonColor{
                background-color:$color-primario;
                border-color:$color-primario;
                &:active{
                     background-color: $color-activeyfocus;
                }
                &:hover{
                    animation: $transition-rotar;
                }
            }
            .imgContainer {
                width: map-get($tamañopx, t-350px );
                height:map-get($tamañopx, t-350px );
                overflow: $hidden;
                .catalogoImg{
                    object-fit: $object-cover;
                    width: $t-100por;
                    height: $t-100por;
                    transition: $transition-principal;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                
            }
        }
    }
}
@media screen and (max-width:768px){
    .catalogoImgcontainer{
        .catalogoImg {
            width: map-get($tamañopx, t-290px );
            height:map-get($tamañopx, t-290px);
            object-fit: $object-cover;
        }
    }
}