.preguntasContainer{
    .questionTitle{
        color: $color-secundario;
    }
    .questionAcordeon{
        .acordeonColor {
            background-color:$color-primario;
            color: $color-blanco;
        }
    }
    .dudasContent{
        h2{
            color:$color-secundario;
        }
        a{
            @include boton;
        }
    }
}