.contactContainer{
    .contactTitle h1 {
        color:$color-secundario;
    }
    .form{
        background-color: $color-primario;
        height: $t-90vh;
        .inputContainer{
            .input{
                background: $color-transparente;
                width: $t-80por;
                border: $type-none;
                border-bottom: $t-borde-2px $tipo-borde $color-borde-input;
                height: map-get($tamañopx, t-30px );
                color: $color-blanco;
                font-size: $fs-1;
                &::placeholder{
                    color: $color-blanco;
                }
                &:focus{
                    outline: $type-none;
                }
            }
            .textArea{
                width: $t-80por;
                resize: $type-none;
                background: $color-transparente;
                height: map-get($tamañopx, t-200px );
                border: $type-none;
                border-bottom: $t-borde-2px $tipo-borde $color-borde-input;
                color: $color-blanco;
                &::placeholder{
                color: $color-blanco;
                }
                &:focus{
                    outline: $type-none;
                }
            }
            .input:nth-child(10){
                color: $color-blanco;
                border:$t-borde-2px $tipo-borde $color-borde-input;
                background-color: $bg-input-submit;
                width: $t-65por;
                transition: $transition-principal;
                &:focus{ 
                    background-color: $color-activeyfocus;
                }
            }
        }
        .imgInputcontainer{
            border-radius: $t-50por;
            background-color: $color-blanco;
            height: map-get($tamañopx, t-600px );
            width:map-get($tamañopx, t-600px );
         }
         .imgInputcontainer img {
             width:map-get($tamañopx, t-600px ); 
             height:map-get($tamañopx, t-600px );
         }
    }
}