.nosContainer {
    .nosH1{
        color:$color-secundario;
    }
    .nosTxt{
        .nosContent{
            .spanNosotros{
                color: $color-secundario;
            }
            .nosContentparrafo{
                font-family: $fuente-secundaria;
                text-align: $text-justify;
            }
        }
        .containerLocalimg{
            height: $t-100por;
            .localImg{
                width: map-get($tamañopx, t-300px );
                height: map-get($tamañopx, t-300px );
                object-fit: $object-cover;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .nosContainer {
        .nosContent{
            width: initial;
            .nosContentsubtitle{
                font-size: $fs-chico;
            }
            .nosContentparrafo{
                font-size: $fs-1;
            }
        }
    }
}
.ubiContainer{
    .nosH2{
        color:$color-secundario;
    }
    .mapContainer{
        width: $t-100por;
        height: 50vh;
        iframe{
            width: $t-100por;
            height: $t-100por;
        }
    }
}

