@keyframes rotar {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(0);
    }
}

.catalogoContainer{
    .containerTitle h1{
        color: $color-secundario;
    }
    .catalogoImgcontainer{
        .prendasCatalogo{
            .btn-primary{
                background-color:$color-primario;
                border: $color-primario;
            }
            .buttonColor{
                background-color:$color-primario;
                border-color:$color-primario;
                &:active{
                     background-color: $color-activeyfocus;
                }
                &:hover{
                    animation: rotar 0.5s ease-in-out 1;
                }
            }
            .catalogoImg {
                width: map-get($tamañopx, t-350px );
                height:map-get($tamañopx, t-350px );
                object-fit: $object-cover;
            }
        }
    }
}
@media screen and (max-width:768px){
    .catalogoImgcontainer{
        .catalogoImg {
            width: map-get($tamañopx, t-290px );
            height:map-get($tamañopx, t-290px);
            object-fit: $object-cover;
        }
    }
}