.tituloPrincipalindex{
    text-shadow: $t-borde-7px $t-borde-4px $t-borde-5px $color-sombra;
    color: $color-titulo-principal;
}

.offerContainer{
    .offerTitle {
        .avianoText {
            color: $color-secundario;
        }
    }
    .card{
        border: $t-borde-3px $tipo-borde $color-secundario;
    }
}
@media screen and (max-width:768px){
    .offerContainer{
        .offerTitle {
            h2{
                font-size: $fs-chico;
            }
        }
    }
}

.colaboracionContainer {
    background-color: $color-primario;
    .colaboracion{
            height: $t-100vh;
        .videoContainer{
            height: $t-100por;
            iframe {
                height: $t-100por;
                width: $t-100por;
            }
        } 
        .infoVideo {
            color: $color-blanco;
            h2{
                font-size: $fs-grande;
            }
            p{
                font-size: $fs-chico;
            }
        }
    }
}

@media screen and (max-width:768px){
    .colaboracionContainer {
        .colaboracion{
            height: $t-100vh;
        .videoContainer{
            height: $t-72por;
            } 
        }
    }
}
.linksContainer{
    .links{
        .linkCatalogo{
            @include linksIndex (map-get($tamañopx, t-350px ),$background-links,$t-borde-5px $tipo-borde $color-terciario,map-get($tamañopx, t-700px ));
            a{
                @include estiloBoton($t-borde-3px $tipo-borde $color-borde,$color-primario,map-get($tamañopx, t-100px),map-get($tamañopx, t-50px ),$color-negro,$type-none,$color-hover-secundario,$transition-principal);
            }
        }
        .linkContacto{
           @include linksIndex (map-get($tamañopx, t-350px ),$background-links,$t-borde-5px $tipo-borde $color-terciario,map-get($tamañopx, t-700px ));
            a{
                @include estiloBoton($t-borde-3px $tipo-borde $color-borde,$color-primario,map-get($tamañopx, t-100px),map-get($tamañopx, t-50px ),$color-negro,$type-none,$color-hover-secundario,$transition-principal);
            }
        }
    }
    
}
.recomendacionContainer{
    .recomendacionTitle{
        h3{
            color: $color-secundario;
        }
        hr{
            width: map-get($tamañopx, t-200px );;
        }
    }
    .card{
        height: map-get($tamañopx, t-400px );
        .card-title{
            color: $color-secundario;
        }
    }
}
@media screen and (max-width:768px){
    .recomendacionContainer{
        .card{
            height: map-get($tamañopx, t-450px );
        }
    }
}
