@mixin boton {
    border: $t-borde-3px $tipo-borde $color-borde;
    background-color: $color-primario;
    width: $t-100px;
    height:$t-50px;
    color: $color-negro;
    text-decoration: $type-none;
    &:hover{
        background-color:$color-hover-secundario;
    }
}

@mixin linksIndex {
    height: $t-350px;
    background-color: $background-links;
    border: $t-borde-5px $tipo-borde $color-terciario;
    width: $t-700px;
}