
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import 'variables';

* {
    padding: $t-0;
    margin: $t-0;
}

body{
    font-family: $fuente-principal;
    color: $color-negro;

    header{
        .bgNav{
           background-color: $color-primario;
        }
        .avianoLogo{
            width: $t-350px;
            height:$t-150px;
        }
        .nav-link{
            font-size: $fs-nav;
                &:hover{
                    color:$color-hover-principal;
                }
        }
    }
    @media screen and (max-width:768px){
        header{
            .avianoLogo{
                width: $t-250px;
                height: $t-150px;
            }
        }
    }
    .tituloPrincipalindex{
        text-shadow: $t-borde-7px $t-borde-4px $t-borde-5px $color-sombra;
        color: $color-titulo-principal;
    }
    .offerContainer{
        .offerTitle {
            .avianoText {
                color: $color-secundario;
            }
        }
        .offerImg {
            width: $t-350px;
            height:$t-350px;
        }
    }
    @media screen and (max-width:768px){
        .offerContainer{
            .offerTitle {
                h2{
                    font-size: $fs-chico;
                }
            }
        }
    }

    .colaboracionContainer {
        background-color: $color-primario;
        .colaboracion{
                height: $t-100vh;
            .videoContainer{
                height: $t-100por;
                iframe {
                    height: $t-100por;
                    width: $t-100por;
                }
            } 
            .infoVideo {
                color: $color-blanco;
                h2{
                    font-size: $fs-grande;
                }
                p{
                    font-size: $fs-chico;
                }
            }
        }
    }

    @media screen and (max-width:768px){
        .colaboracionContainer {
            .colaboracion{
                height: $t-100vh;
            .videoContainer{
                height: $t-72por;
                } 
            }
        }
    }
    .linksContainer{
        .linkCatalogo{
            height: $t-350px;
            background-color: $background-links;
            border: $t-borde-5px $tipo-borde $color-terciario;
            width: $t-700px;
            margin: $t-0 $margin-auto;
            a{
                border: $t-borde-3px $tipo-borde $color-borde;
                background-color: $color-primario;
                width: $t-100px;
                height:$t-50px;
                color: $color-negro;
                text-decoration: $type-none;
                &:hover{
                    background-color:$color-hover-secundario;
                }
            }
        }
        .linkContacto{
            height:$t-350px;
            background-color: $background-links;
            border: $t-borde-5px $tipo-borde $color-terciario;
            width: $t-700px;
            a{
                border: $t-borde-3px $tipo-borde $color-borde;
                background-color: $color-primario;
                width: $t-100px;
                height:$t-50px;
                color: $color-negro;
                text-decoration: $type-none;
                &:hover{
                    background-color:$color-hover-secundario;;
                }
            }
        }
    }

    .recomendacionContainer{
        .recomendacionTitle{
            h3{
                color: $color-secundario;
            }
            hr{
                width: $t-200px;
            }
        }
        .card{
            .card-title{
                color: $color-secundario;
            }
        }
    }

    footer{
        background-color: $color-primario;
        color: $color-texto-footer;
        .footerParrafo{
            font-size: $fs-chico;
        }
        .footerLogo img{
            width: $t-350px;
            height:$t-150px;
        }
        .footerIcons a{
            font-size: $fs-mediano;
            color: $color-blanco;
            &:hover{
                color: $color-hover-principal;
            }
        }
    }
    @media screen and (max-width:768px){
        footer{
            .footerParrafo{
                font-size: $fs-1;
            }
        }
    }

    .nosContainer {
        .nosH1{
            color:$color-secundario;
        }
    }
    .ubiContainer{
        .nosH2{
            color:$color-secundario;
        }
        .negocioContainer{
            height: $t-70vh;
            .mapContainer{
                iframe{
                    width: $t-100por;
                    height: $t-100por;
                }
            }
            .containerLocalimg{
                height: $t-100por;
                .localImg{
                width: $t-300px;
                height: $t-300px;
                object-fit: $object-cover;
                }
            }
        }
    }
    @media screen and (max-width:768px){
        .ubiContainer{
            .negocioContainer{
                height: initial;
                .mapContainer{
                    height: $t-50por;
                    iframe{
                        height: $t-400px;
                    }
                }
                .containerLocalimg{
                    width: $t-100por;
                    .localImg{
                    margin: initial;
                    width: $t-50por;
                    height: $t-300px;
                    }
                }
            }
        }
    }

    .catalogoContainer{
        .containerTitle h1{
            color: $color-secundario;
        }
    }

    .catalogoImgcontainer{
        .prendasCatalogo{
            .btn-primary{
                background-color:$color-primario;
                border: $color-primario;
            }
            .buttonColor{
                background-color:$color-primario;
                border-color:$color-primario;
                &:active{
                    background-color: $color-activeyfocus;
                }

            }
        }
        .catalogoImg {
            width: $t-350px;
            height:$t-350px;
            object-fit: $object-cover;
        }
    }
    @media screen and (max-width:768px){
        .catalogoImgcontainer{
            .catalogoImg {
                width: $t-290px;
                height: $t-290px;
                object-fit: $object-cover;
            }
        }
    }

    .preguntasContainer{
        .questionTitle{
            color: $color-secundario;
        }
        .questionAcordeon{
            .acordeonColor {
                background-color:$color-primario;
                color: $color-blanco;
            }
        }
        .dudasContent{
            h2{
                color:$color-secundario;
            }
            a{
                color: $color-blanco;
                background-color: $color-primario;
                border: $t-borde-2px $tipo-borde $color-negro;
                width: $t-100px;
                height: $t-50px;
                &:hover{
                    background-color:$color-hover-secundario;
                }
            }
        }
    }

    .contactContainer{
        .contactTitle h1 {
            color:$color-secundario;
        }
        .form{
            background-color: $color-primario;
            height: $t-90vh;
            .inputContainer{
                .input{
                    background: $color-transparente;
                    width: $t-80por;
                    border: $type-none;
                    border-bottom: $t-borde-2px $tipo-borde $color-borde-input;
                    height: $t-30px;
                    color: $color-blanco;
                    font-size: $fs-1;
                    &::placeholder{
                        color: $color-blanco;
                    }
                }
                .textArea{
                    width: $t-80por;
                    resize: $type-none;
                    background: $color-transparente;
                    height: $t-200px;
                    border: $type-none;
                    border-bottom: $t-borde-2px $tipo-borde $color-borde-input;
                    color: $color-blanco;
                    &::placeholder{
                    color: $color-blanco;
                    }
                }
                .input:nth-child(5){
                    color: $color-blanco;
                    border:$t-borde-2px $tipo-borde $color-borde-input;
                    background-color: $bg-input-submit;
                    width: $t-65por;
                    &:focus{
                        background-color: $color-activeyfocus;
                    }
                }
            }
            .imgInputcontainer{
                border-radius: $t-50por;
                background-color: $color-blanco;
                height: $t-600px;
                width: $t-600px;
             }
             .imgInputcontainer img {
                 width: $t-600px;
                 height: $t-600px;
             }
        }
    }
}